@font-face {
    font-family: Knockout;
    src: url('../fonts/Knockout-HTF47-Bantamweight.otf');
}

@font-face {
    font-family: ClanOT-Bold;
    src: url('../fonts/ClanOT-Bold.otf');
}
@font-face {
    font-family: ClanOT-Book;
    src: url('../fonts/ClanOT-Book.otf');
}
@font-face {
    font-family: ClanOT-Black;
    src: url('../fonts/ClanOT-Black.otf');
}

/*
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Homenaje', sans-serif;
*/
body{
    font-family: 'Open Sans', sans-serif;
}
.greyh2{
    background: #c0c0c0;
    padding-top: 10px;
    margin-bottom: 10px;
}
.greyh2 h2{
    font-family: 'Knockout', sans-serif;
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 0;
}
.greyh2 h2 .hprod{
    color: orangered;
}
body.landingpage{
    height: 100%;
    background-image: url(../img/mainbg.jpg);
    background-position: left 118px;
    background-size: cover;
}
.mainbg h2{
    font-family: 'ClanOT-Book', sans-serif;
    color:#fff;
    font-size: 300%;
    margin-top: 25%;
}
.mainbg h2 span{
    display: inline-block;
    white-space: nowrap;
}
.mainmenu{
    background: #000;
    position: absolute;
    width: 100%;
    z-index: 102;
}
.mainmenu ul li{
    position: relative;
}
.mainmenu li ul{
    margin: 0;
    padding: 0;
    list-style: none;
    position:absolute;
    background: #000;
    z-index: 120;    
    min-width: 140px;
    display: none;
}
.mainmenu li:hover ul{
    display: block;
}
.mainmenu ul ul li{
    width: 100%;
}
.mainmenu ul ul a{
    color:#fff;
    text-decoration: none;
    padding: 15px;
    display: block;
    width: 100%;
}
.mainmenu ul ul a:hover{
    background: #111;    
}
.mainmenu .navbar{
    position: relative;
    z-index: 100;
    margin-bottom:0;
    border-bottom: none;
}
.mainmenu .nav>li>a{
    background: #000;
    color:#fff;
    padding-right:0;
    padding-left:0;
    padding-top: 26px;
    padding-bottom: 18px;
}
.mainmenu .nav>li>a span{
    padding:0 15px;
    width:100%;
    border-right: 2px solid #fff;
}
.mainmenu .nav>li:last-child span{
    border:none;
}
.mainmenu .nav>li>a:hover, .mainmenu .nav>li>a:focus{
    background: #111;
}
.mainmenu .navbar-toggle{
    padding-right: 0;
}

.submenu .navbar{
    position: relative;
    z-index: 101;
    margin-bottom:0;
    border-bottom: none;
}   
.submenu .nav>li>a{
    color:#333;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    padding-right:0;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left:0;
    background: #fff;
    border-right: solid thin #333; 
}
.submenu .nav>li.active>a{
    color:#999;
}
.submenu .nav>li{
}
.submenu .nav>li:last-child a,
.submenu .nav>li:last-child{
    border-right: none; 
}
.submenu .nav>li>a span{
    width:100%;
    display: inline-block;
    text-align: center;
}
.submenu .nav>li:last-child span{
    border:none;
}
.submenu .nav>li>a:hover, .submenu .nav>li>a:focus{
}
.submenu .navbar-toggle{
    padding-right: 0;
}
@media (max-width:360px){
    .greyh2 h2{
        font-size: 30px;
    }
    .mainbg h2{
        font-size: 30px;
    }    
}
@media (min-width:768px){
    .productos-mini{
        width: 20%;
    }
    .productos-mini img{
        width: 100%;
    }
}
@media (max-width:767px){
    .mainmenu,.submenu,.greyh2{
        position: fixed;
        width: 100%;
        z-index: 98;
    }
    .fixtop2{
        padding-top: 80px;
    }
    .submenu{
        width: 100%;
        margin-top:15px;
        z-index: 99;
    }
    .submenu a{
        border-bottom:solid thin #f0f0f0;
        margin-top: 0 !important;
        padding-top: 20px !important;
        padding-bottom: 10px !important;
        border-right: none !important; 
    }
    .submenu a span{        
        border-right: none;
    }
    .navbar-collapse .nav>li>a span{
        border-right: none;
    }
    .productos-mini{
        /*background: #f0f0f0;*/
    }
    .productos-mini figcaption{
        /*margin:auto -15px;*/
    }
    .documentacion ul li{
        padding: 10px !important;
        font-size: 16px;
    }
    .documentacion ul li div{
        padding-left: 30px !important;

    }
}
.navbar-brand{
    display: table;
    padding-top: 8px;
    padding-bottom: 0;
    padding-left: 0;
}
.mainmenu .fa{
    color:#fff;
}
.footer{
    padding-top: 10px;
    padding-bottom: 10px;
    background: #111;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    color:#999;
    padding-bottom: 30px;
    border-top: solid 10px #999;
}
.landingpage .footer{
    position: fixed;
    z-index: 99;
}

.footer span.w{
    color:#fff;
}
.footer span.nb{
    white-space: nowrap;
}
.footer .col-md-2{
    padding-top: 12px;
}
.fixtop{
    height: 64px;
}
.productos-mini {
    margin: 10px 0;
}
.productos-mini a{
    text-decoration: none;
}
.productos-mini figure{
    overflow: hidden;
    text-align: center;
    max-height: 198px;
}
.productos-mini figure img{
    position: relative;
    left:-1px;
}
.productos-mini figcaption{
    background: #000;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0;
    font-size: 10px;
    font-weight: bold;
}
.caracteristicas{
    margin-top: 20px;
}
.caracteristicas h4{
    background: #000;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 20px;
    font-size: 14px;
    font-weight: bold;
    margin: 4px auto;
}
.caracteristicas h5{
    padding-top:10px;
    padding-bottom:5px;
    font-weight: 700;
    font-size: 20px;
}
.caracteristicas hr{
    margin: 0;
    border-top:solid thin #000; 
}
.caracteristicas address,
.caracteristicas article{
    padding: 15px 0;
}
.caracteristicas table{
    margin-top: 10px;
}
.caracteristicas table th,
.caracteristicas table td{
    text-align: center;
}
table.aplicaciones{
    margin-bottom: 10px;
}
table.aplicaciones tr{
    border-bottom: solid thin #333;
}
table.aplicaciones tr:hover{
    background: #f0f0f0;
}
table.aplicaciones th{
    padding-right: 4px;
    text-align: center;
}
table.aplicaciones th:first-child span{
    color:#000;
    background: #d0d0d0;
}
table.aplicaciones th:last-child{
    padding-right: 0;
}
table.aplicaciones th span{
    background: #333;
    color:#fff;
    width:100%;
    padding:0 4px; 
    display: inline-block;
}
table.aplicaciones td{
    text-align: center;
}
table.aplicaciones td:first-child{
    text-align: left;
    padding-left: 4px;
}

.stickers td{
    vertical-align: top;
}
.stickers td img{
    margin-right: 15px;
}
.carousel-contrmol.left,
.carousel-control.right{
    background-image: none;
}
.submenu h3{
    font-size: 20px;
    text-align: center;
    border-right: #000 solid thin;
    padding: 4px;
}
img.fillwide{
    width:100%;
}
.documentacion ul{
    margin: 10px 0;
    padding: 0;
    list-style: none;
}
.documentacion ul li:first-child{
    color:#fff;
    background: black;
    padding: 10px 0;
    text-align: center;
}
.documentacion ul li{
    margin-top:  4px;
    background: #ccc;
    padding: 6px 0;    
}
.documentacion ul li a{
    color:#333;
}
.documentacion ul li i{
    float:left;
    line-height: 18px;
    margin-left: 4px;
}
.documentacion ul li div{
    padding-left: 18px;
}
.documentacion iframe{
    margin: auto;
}
.modal{
    z-index: 100;
}
.modal .close{
    float:right;
    color:#333;
    z-index: 99;
}
.modal-header{
    position: absolute;
    right:10px;
    top:10px;
    z-index: 99;
    border:none;
}
.modal-header .close{
    opacity: 1;
    color:#fff;
}
.modal img,
.gallery img{
    width: 100%;
}
.gallery .row div{
    margin-bottom: 20px;
    overflow: hidden;
    max-height: 370px;
}
@media (min-width:768px) AND (max-width:1200px){
    .mainmenu .container{
        min-width: 1184px;
    }
    .submenu .navbar-collapse ul{
        min-width: 970px;
    }
}
.accesorios {
    padding-left: 0;
    padding-right: 0;
}
.accesorios strong{
    white-space: nowrap;
}
.accesorios .acc{
    min-height: 180px;
}
.accesorios .acc img{
    text-align: center;
}
.accesorios .acc ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.accesorios .acc ul li{
    margin-top: -10px;
}
.accesorios strong::before {
}
.leblack th{
    background: #000;
    color:white;
    border-left: solid thin #fff;
    border-right: solid thin #fff;
    border-bottom: solid thin #fff;
}
.leorange td{
    background: orangered;
    color:white;
    border-left: solid thin #fff;
    border-right: solid thin #fff;
}
.especs tr{
    border-bottom: solid thin #333;
}
.especs th,
.especs td{
    padding: 0 4px;
}
.especs th{
    padding: 6px 4px;
}
.reddot::before{
    color: #ed0000;
    content: "•";
    margin-left: -14px;
    padding-right: 5px;
    font-size: 24px;
    position: relative;
    top: 3px;

}
.uglygrey{
    color: #000;
    min-height: 110px;
    display: table;
}
.uglygrey div{
    background: #ccc;
    font-weight: bold;
    padding: 10px;
    display: table-cell;
    vertical-align: middle;
}
.proDocTbl{
    background: #999;
}
.proDocTbl th,
.proDocTbl td{
    text-align: center;
    border:solid thin #fff;
    color:#000;
    vertical-align: middle !important;
}
.proDocTbl th{
    color:#fff;
    background:#000;
    padding: 4px;
}
.proDocTbl img{
    max-height: 20px;
    width: auto;
    display: inline;
}
.galeria img{
    width:100%;
    height:auto;
    margin-bottom: 15px;
}